article {
	display: flex;

}

.content{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2em;
}
header {
	display: flex;
	align-items: flex-end;
}


nav {
	display: flex;
	justify-content: space-between;
}
nav ul {
	display: flex;
}

.projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	
}
.grid-container {
	display: grid;
	grid-template-columns: 2fr .5fr 1fr;
	grid-gap:1em;
}
.bio {
	display: flex;
	
	
}
.personal-info {
	display: flex;
	flex-direction: column;
}
.projects article {
	display: grid;
}
