article {
	display: flex;

}
#bio {
	/* display: flex; */
}

.content{
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
footer {
	/* display: flex;
	align-items: center;
	justify-content: center; */
	padding: 2em;
}
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}

header {
	display: flex;
	align-items: flex-end;
}
.image-container-container {
	display: flex;
	justify-content: center;
}
nav {
	display: flex;
	justify-content: space-between;
}
nav ul {
	display: flex;
}
.projects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 3em;
	
}
.personal-info {
	display: flex;
	flex-direction: column;
}
.projects article {
	display: grid;
}
