
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #b2b7ba;
}
nav a:hover {
	color: white;
}

.black {
	color: black;
}

body {
	background-color: #b2b7ba;
}
.contact {
	order: -1;
}

.content {
	background-color: #FFF;
}
header {
	background-color: #fb9b2b;
}
h1, h2, h3 {
	font-family: 'Share Tech', sans-serif;
}
h3 {
	margin-block-start: 0em;
    margin-block-end: 0em;
}
h2 {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #fb9b2b;
}
h2, h3 {
	color: #fb9b2b;
	font-weight: normal;
}
h1 {
	font-size: 3em;
	color: white;
	margin: 0;
	margin-top: .5em;
}
h4 {
	margin-block-start: .5em;
    margin-block-end: .5em;
}
#headshot {
	/* max-height: 150px; */
	border-radius: 50%;
	border: 1px solid #fb9b2b;
	padding: 5px;
		
}
.header {
	width: 90%;

}
.header, #aboutMe, #projects {
	padding-left: 2em;
	padding-right: 2em;
}
.headshot {
	max-width: 100%;
	height: auto;
	margin: auto;
}
i {
	padding: 4px;
}
nav {
	padding-bottom: .5em;
}

.navLinks {
	display: none;
	transition: ease-in-out;
	transition-duration: 0.4s;
}
li {
	padding-right: .5em;
}
p {
	margin-block-start: 0em;
    margin-block-end: 1em;
    /* margin: 0 1em; */
}
.hide {
	display: none;
};
#content {
	padding-bottom: 2em;
}
#projects {
	padding-bottom: 2em;
}
p, ul {
	font-family: 'Share', cursive;
	font-size: 100%;
}
ul {
	list-style: none;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.image-container {
	position: relative;
	width: 50%;
}
  
  /* Make the image responsive */
.image-container img {
	max-width: 100%;
	height: auto;
	margin: auto;
}
  
  /* Style the button and place it in the middle of the container/image */
.image-container .btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #b2b7ba;
	color: black;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	opacity: 0.6;
}
  
.image-container .btn:hover {
	background-color: black;
	color: #b2b7ba;
}
.navButton, #bioBtn {
	background-color: #b2b7ba;
	color: black;
	font-size: 100%;
	padding: .5em;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}
.navButton:hover, #bioBtn:hover{
	background-color: black;
	color: #b2b7ba;
}
.navButton{
	position: absolute;
	top: 5%;
	right: 20%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
	animation-name: animatetop;
	animation-duration: 0.4s;
}
@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

* {box-sizing:border-box}

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.mySlides {
    display: none;
}
.text {
	color: white;
	font-size: 3em;
	padding: 8px 12px;
	position: absolute;
	top:40%;
	width: 100%;
	text-align: center;
	font-family: 'Share Tech', sans-serif;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}