
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: #b2b7ba;
}
nav a:hover {
	color: white;
}

.black {
	color: black;
}

body {
	background-color: #b2b7ba;
}
.contact {
	order: -1;
}

.content {
	background-color: #FFF;
}
header {
	background-color: #fb9b2b;
}
h1, h2, h3 {
	font-family: 'Share Tech', sans-serif;
}
h3 {
	margin-block-start: 0em;
	margin-block-end: 0em;
	font-size: 1.5em;
}
h2 {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #fb9b2b;
	font-size: 2.5em;
}
h2, h3 {
	color: #fb9b2b;
	font-weight: normal;
}
h1 {
	font-size: 4em;
	color: white;
	margin: 0, .5em;
	
}
h4 {
	margin-block-start: .5em;
	margin-block-end: .5em;
	font-size: 1.3em;
}
#headshot {
	/* max-height: 150px; */
	border-radius: 50%;
	border: 1px solid #fb9b2b;
	padding: 5px;
		
}
.headshot {
	max-width: 100%;
	height: auto;
	margin: auto;
}
.header {
	width: 90%;

}
.header, #aboutMe, #projects {
	padding-left: 2em;
	padding-right: 2em;
}
i {
	padding: 4px;
}
nav {
	padding-bottom: .5em;
}
li {
	padding-right: .5em;
}
p {
	margin-block-start: 0em;
    margin-block-end: 1em;
    /* margin: 0 1em; */
}

.projects {
	padding-bottom: 2em;
}
p, ul {
	font-family: 'Share', cursive;
	font-size: large;
	line-height: 1.618;
}
ul {
	list-style: none;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


img {
	margin:  auto 0;
	
}
.project-image {
	max-height: 200px;
	margin: 1em auto;
	border: 1px solid #fb9b2b;
    padding: 5px;
}